mixin btn-arrow(title, link = '#', classes = '')
    a.btn.btn--transp(href=link, class=classes) 
        span !{title}
        svg.btn__arrow
            use(xlink:href="img/sprite.svg#arrow-right")
