@font-face {
  font-family: "Suisse Intl";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/SuisseIntl/SuisseIntl-Light.eot");
  src: url("../fonts/SuisseIntl/SuisseIntl-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/SuisseIntl/SuisseIntl-Light.woff") format("woff"), url("../fonts/SuisseIntl/SuisseIntl-Light.woff2") format("woff2"), url("../fonts/SuisseIntl/SuisseIntl-Light.ttf") format("truetype"); }

@font-face {
  font-family: "Suisse Intl";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/SuisseIntl/SuisseIntl-Regular.eot");
  src: url("../fonts/SuisseIntl/SuisseIntl-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/SuisseIntl/SuisseIntl-Regular.woff") format("woff"), url("../fonts/SuisseIntl/SuisseIntl-Regular.woff2") format("woff2"), url("../fonts/SuisseIntl/SuisseIntl-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "Suisse Intl";
  font-weight: 450;
  font-style: normal;
  src: url("../fonts/SuisseIntl/SuisseIntl-Book.eot");
  src: url("../fonts/SuisseIntl/SuisseIntl-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/SuisseIntl/SuisseIntl-Book.woff") format("woff"), url("../fonts/SuisseIntl/SuisseIntl-Book.woff2") format("woff2"), url("../fonts/SuisseIntl/SuisseIntl-Book.ttf") format("truetype"); }

@font-face {
  font-family: "Suisse Intl";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/SuisseIntl/SuisseIntl-Medium.eot");
  src: url("../fonts/SuisseIntl/SuisseIntl-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/SuisseIntl/SuisseIntl-Medium.woff") format("woff"), url("../fonts/SuisseIntl/SuisseIntl-Medium.woff2") format("woff2"), url("../fonts/SuisseIntl/SuisseIntl-Medium.ttf") format("truetype"); }

@font-face {
  font-family: "Suisse Intl";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/SuisseIntl/SuisseIntl-SemiBold.eot");
  src: url("../fonts/SuisseIntl/SuisseIntl-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/SuisseIntl/SuisseIntl-SemiBold.woff") format("woff"), url("../fonts/SuisseIntl/SuisseIntl-SemiBold.woff2") format("woff2"), url("../fonts/SuisseIntl/SuisseIntl-SemiBold.ttf") format("truetype"); }

@font-face {
  font-family: "Cormorant";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Cormorant/Cormorant-Regular.eot");
  src: url("../fonts/Cormorant/Cormorant-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Cormorant/Cormorant-Regular.woff") format("woff"), url("../fonts/Cormorant/Cormorant-Regular.woff2") format("woff2"), url("../fonts/Cormorant/Cormorant-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "Cormorant";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Cormorant/Cormorant-Medium.eot");
  src: url("../fonts/Cormorant/Cormorant-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Cormorant/Cormorant-Medium.woff") format("woff"), url("../fonts/Cormorant/Cormorant-Medium.woff2") format("woff2"), url("../fonts/Cormorant/Cormorant-Medium.ttf") format("truetype"); }

@font-face {
  font-family: "Cormorant";
  font-weight: 500;
  font-style: "italic";
  src: url("../fonts/Cormorant/Cormorant-MediumItalic.eot");
  src: url("../fonts/Cormorant/Cormorant-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Cormorant/Cormorant-MediumItalic.woff") format("woff"), url("../fonts/Cormorant/Cormorant-MediumItalic.woff2") format("woff2"), url("../fonts/Cormorant/Cormorant-MediumItalic.ttf") format("truetype"); }

@font-face {
  font-family: "Cormorant";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/Cormorant/Cormorant-SemiBold.eot");
  src: url("../fonts/Cormorant/Cormorant-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Cormorant/Cormorant-SemiBold.woff") format("woff"), url("../fonts/Cormorant/Cormorant-SemiBold.woff2") format("woff2"), url("../fonts/Cormorant/Cormorant-SemiBold.ttf") format("truetype"); }

@font-face {
  font-family: "Cormorant";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Cormorant/Cormorant-Bold.eot");
  src: url("../fonts/Cormorant/Cormorant-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Cormorant/Cormorant-Bold.woff") format("woff"), url("../fonts/Cormorant/Cormorant-Bold.woff2") format("woff2"), url("../fonts/Cormorant/Cormorant-Bold.ttf") format("truetype"); }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 100%; }

*, *:before, *:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

body {
  min-height: 100vh;
  font-family: "Suisse Intl", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.36px;
  color: #1C1C1C;
  background-color: #fff;
  position: relative; }

.link {
  position: relative;
  color: inherit;
  text-decoration: none;
  padding-bottom: 4px;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease; }
  .link::after {
    content: '';
    width: 0%;
    height: 1px;
    background-color: #CE5E4C;
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease; }
  .link:hover::after {
    width: 100%; }

a[href^="tel:"] {
  white-space: nowrap; }

input, button, textarea {
  font-family: "Suisse Intl", sans-serif;
  outline: none;
  -webkit-appearance: none; }

button {
  background: none; }

textarea {
  resize: none; }

input[type="submit"] {
  cursor: pointer; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

img {
  max-width: 100%; }

h1 {
  margin-bottom: 5px;
  font-size: 23px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.57px; }

h2 {
  margin: 0 0 14px;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.8px; }

h3 {
  margin-bottom: 50px;
  font-family: Cormorant;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  text-transform: uppercase; }

.subtitle {
  margin: 0 0 35px;
  font-size: 23px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.18px; }
  .subtitle--min {
    margin-bottom: 25px; }

.subtitle-m {
  margin-bottom: 25px;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.2px; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.l-arrow {
  text-transform: uppercase;
  text-decoration: none;
  color: #1C1C1C;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease; }
  .l-arrow:hover {
    color: #CE5E4C; }
    .l-arrow:hover .l-arrow__icon {
      fill: #CE5E4C; }
  .l-arrow::after {
    display: none; }
  .l-arrow__icon {
    margin-left: 13px;
    width: 30px;
    height: 10px;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
    fill: #1C1C1C; }

.logo-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .logo--header {
    margin-top: -5px; }

.container {
  max-width: 1720px;
  margin: 0 auto;
  padding: 0 20px; }

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .row--align-c {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .row--align-e {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end; }
  .row--stretch {
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }
  .row--space-b {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .row--space-a {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
  .row--center {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .row--wrap {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .row--m {
    margin-left: -20px;
    margin-right: -20px;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }

.cols {
  padding: 0 20px; }

.cols-1 {
  width: 8.33333%; }

.cols-2 {
  width: 16.66667%; }

.cols-3 {
  width: 25%; }

.cols-4 {
  width: 33.33333%; }

.cols-5 {
  width: 41.66667%; }

.cols-6 {
  width: 50%; }

.cols-7 {
  width: 58.33333%; }

.cols-8 {
  width: 66.66667%; }

.cols-9 {
  width: 75%; }

.cols-10 {
  width: 83.33333%; }

.cols-11 {
  width: 91.66667%; }

.cols-12 {
  width: 100%; }

.hide {
  display: none !important; }

.show {
  display: block !important; }

@media (max-width: 1400px) {
  .cols-lg-1 {
    width: 8.33333%; }
  .cols-lg-2 {
    width: 16.66667%; }
  .cols-lg-3 {
    width: 25%; }
  .cols-lg-4 {
    width: 33.33333%; }
  .cols-lg-5 {
    width: 41.66667%; }
  .cols-lg-6 {
    width: 50%; }
  .cols-lg-7 {
    width: 58.33333%; }
  .cols-lg-8 {
    width: 66.66667%; }
  .cols-lg-9 {
    width: 75%; }
  .cols-lg-10 {
    width: 83.33333%; }
  .cols-lg-11 {
    width: 91.66667%; }
  .cols-lg-12 {
    width: 100%; }
  .order-lg-1 {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1; }
  .order-lg-2 {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2; }
  .order-lg-3 {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3; }
  .order-lg-4 {
    -webkit-box-ordinal-group: 5;
    -webkit-order: 4;
        -ms-flex-order: 4;
            order: 4; }
  .order-lg-5 {
    -webkit-box-ordinal-group: 6;
    -webkit-order: 5;
        -ms-flex-order: 5;
            order: 5; }
  .order-lg-6 {
    -webkit-box-ordinal-group: 7;
    -webkit-order: 6;
        -ms-flex-order: 6;
            order: 6; }
  .order-lg-7 {
    -webkit-box-ordinal-group: 8;
    -webkit-order: 7;
        -ms-flex-order: 7;
            order: 7; }
  .order-lg-8 {
    -webkit-box-ordinal-group: 9;
    -webkit-order: 8;
        -ms-flex-order: 8;
            order: 8; }
  .order-lg-9 {
    -webkit-box-ordinal-group: 10;
    -webkit-order: 9;
        -ms-flex-order: 9;
            order: 9; }
  .order-lg-10 {
    -webkit-box-ordinal-group: 11;
    -webkit-order: 10;
        -ms-flex-order: 10;
            order: 10; }
  .order-lg-11 {
    -webkit-box-ordinal-group: 12;
    -webkit-order: 11;
        -ms-flex-order: 11;
            order: 11; }
  .order-lg-12 {
    -webkit-box-ordinal-group: 13;
    -webkit-order: 12;
        -ms-flex-order: 12;
            order: 12; }
  .cols {
    padding: 0 15px; }
  .row--m {
    margin: 0 -15px; }
  .container {
    max-width: 1200px;
    padding: 0 15px; }
  .hide-lg {
    display: none !important; }
  .show-lg {
    display: block !important; } }

@media (max-width: 991px) {
  .cols-md-1 {
    width: 8.33333%; }
  .cols-md-2 {
    width: 16.66667%; }
  .cols-md-3 {
    width: 25%; }
  .cols-md-4 {
    width: 33.33333%; }
  .cols-md-5 {
    width: 41.66667%; }
  .cols-md-6 {
    width: 50%; }
  .cols-md-7 {
    width: 58.33333%; }
  .cols-md-8 {
    width: 66.66667%; }
  .cols-md-9 {
    width: 75%; }
  .cols-md-10 {
    width: 83.33333%; }
  .cols-md-11 {
    width: 91.66667%; }
  .cols-md-12 {
    width: 100%; }
  .order-md-1 {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1; }
  .order-md-2 {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2; }
  .order-md-3 {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3; }
  .order-md-4 {
    -webkit-box-ordinal-group: 5;
    -webkit-order: 4;
        -ms-flex-order: 4;
            order: 4; }
  .order-md-5 {
    -webkit-box-ordinal-group: 6;
    -webkit-order: 5;
        -ms-flex-order: 5;
            order: 5; }
  .order-md-6 {
    -webkit-box-ordinal-group: 7;
    -webkit-order: 6;
        -ms-flex-order: 6;
            order: 6; }
  .order-md-7 {
    -webkit-box-ordinal-group: 8;
    -webkit-order: 7;
        -ms-flex-order: 7;
            order: 7; }
  .order-md-8 {
    -webkit-box-ordinal-group: 9;
    -webkit-order: 8;
        -ms-flex-order: 8;
            order: 8; }
  .order-md-9 {
    -webkit-box-ordinal-group: 10;
    -webkit-order: 9;
        -ms-flex-order: 9;
            order: 9; }
  .order-md-10 {
    -webkit-box-ordinal-group: 11;
    -webkit-order: 10;
        -ms-flex-order: 10;
            order: 10; }
  .order-md-11 {
    -webkit-box-ordinal-group: 12;
    -webkit-order: 11;
        -ms-flex-order: 11;
            order: 11; }
  .order-md-12 {
    -webkit-box-ordinal-group: 13;
    -webkit-order: 12;
        -ms-flex-order: 12;
            order: 12; }
  .container {
    max-width: 960px; }
  .row--md-reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; }
  .hide-md {
    display: none !important; }
  .show-md {
    display: block !important; } }

@media (max-width: 768px) {
  .cols-sm-1 {
    width: 8.33333%; }
  .cols-sm-2 {
    width: 16.66667%; }
  .cols-sm-3 {
    width: 25%; }
  .cols-sm-4 {
    width: 33.33333%; }
  .cols-sm-5 {
    width: 41.66667%; }
  .cols-sm-6 {
    width: 50%; }
  .cols-sm-7 {
    width: 58.33333%; }
  .cols-sm-8 {
    width: 66.66667%; }
  .cols-sm-9 {
    width: 75%; }
  .cols-sm-10 {
    width: 83.33333%; }
  .cols-sm-11 {
    width: 91.66667%; }
  .cols-sm-12 {
    width: 100%; }
  .order-sm-1 {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1; }
  .order-sm-2 {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2; }
  .order-sm-3 {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3; }
  .order-sm-4 {
    -webkit-box-ordinal-group: 5;
    -webkit-order: 4;
        -ms-flex-order: 4;
            order: 4; }
  .order-sm-5 {
    -webkit-box-ordinal-group: 6;
    -webkit-order: 5;
        -ms-flex-order: 5;
            order: 5; }
  .order-sm-6 {
    -webkit-box-ordinal-group: 7;
    -webkit-order: 6;
        -ms-flex-order: 6;
            order: 6; }
  .order-sm-7 {
    -webkit-box-ordinal-group: 8;
    -webkit-order: 7;
        -ms-flex-order: 7;
            order: 7; }
  .order-sm-8 {
    -webkit-box-ordinal-group: 9;
    -webkit-order: 8;
        -ms-flex-order: 8;
            order: 8; }
  .order-sm-9 {
    -webkit-box-ordinal-group: 10;
    -webkit-order: 9;
        -ms-flex-order: 9;
            order: 9; }
  .order-sm-10 {
    -webkit-box-ordinal-group: 11;
    -webkit-order: 10;
        -ms-flex-order: 10;
            order: 10; }
  .order-sm-11 {
    -webkit-box-ordinal-group: 12;
    -webkit-order: 11;
        -ms-flex-order: 11;
            order: 11; }
  .order-sm-12 {
    -webkit-box-ordinal-group: 13;
    -webkit-order: 12;
        -ms-flex-order: 12;
            order: 12; }
  .container {
    max-width: 720px; }
  .hide-sm {
    display: none !important; }
  .show-sm {
    display: block !important; } }

@media (max-width: 576px) {
  .cols-xs-1 {
    width: 8.33333%; }
  .cols-xs-2 {
    width: 16.66667%; }
  .cols-xs-3 {
    width: 25%; }
  .cols-xs-4 {
    width: 33.33333%; }
  .cols-xs-5 {
    width: 41.66667%; }
  .cols-xs-6 {
    width: 50%; }
  .cols-xs-7 {
    width: 58.33333%; }
  .cols-xs-8 {
    width: 66.66667%; }
  .cols-xs-9 {
    width: 75%; }
  .cols-xs-10 {
    width: 83.33333%; }
  .cols-xs-11 {
    width: 91.66667%; }
  .cols-xs-12 {
    width: 100%; }
  .order-xs-1 {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1; }
  .order-xs-2 {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2; }
  .order-xs-3 {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3; }
  .order-xs-4 {
    -webkit-box-ordinal-group: 5;
    -webkit-order: 4;
        -ms-flex-order: 4;
            order: 4; }
  .order-xs-5 {
    -webkit-box-ordinal-group: 6;
    -webkit-order: 5;
        -ms-flex-order: 5;
            order: 5; }
  .order-xs-6 {
    -webkit-box-ordinal-group: 7;
    -webkit-order: 6;
        -ms-flex-order: 6;
            order: 6; }
  .order-xs-7 {
    -webkit-box-ordinal-group: 8;
    -webkit-order: 7;
        -ms-flex-order: 7;
            order: 7; }
  .order-xs-8 {
    -webkit-box-ordinal-group: 9;
    -webkit-order: 8;
        -ms-flex-order: 8;
            order: 8; }
  .order-xs-9 {
    -webkit-box-ordinal-group: 10;
    -webkit-order: 9;
        -ms-flex-order: 9;
            order: 9; }
  .order-xs-10 {
    -webkit-box-ordinal-group: 11;
    -webkit-order: 10;
        -ms-flex-order: 10;
            order: 10; }
  .order-xs-11 {
    -webkit-box-ordinal-group: 12;
    -webkit-order: 11;
        -ms-flex-order: 11;
            order: 11; }
  .order-xs-12 {
    -webkit-box-ordinal-group: 13;
    -webkit-order: 12;
        -ms-flex-order: 12;
            order: 12; }
  .container {
    max-width: 540px; }
  .hide-xs {
    display: none !important; }
  .show-xs {
    display: block !important; } }

.header-row {
  position: relative; }

.header-top {
  padding: 25px 0 18px;
  border-bottom: 1px solid #DEDEDE; }

.header-bottom {
  padding: 17px 0 24px;
  border-bottom: 1px solid #DEDEDE; }
  .header-bottom__text {
    font-family: "Cormorant", serif;
    font-style: italic;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em; }

.h-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  .h-links__item {
    width: 22px;
    height: 22px;
    margin-left: 32px; }
    .h-links__item:hover .h-links__item-icon {
      fill: #CE5E4C; }
  .h-links__item-icon {
    width: 100%;
    height: 100%;
    fill: #1C1C1C;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease; }

.m-available {
  padding: 136px 0 50px; }
  .m-available__title {
    margin-bottom: 0; }
  .m-available__row {
    margin-bottom: 45px; }
  .m-available .card-item {
    margin-bottom: 18px; }

.btn {
  display: inline-block;
  padding: 14px 25px;
  border: 1px solid;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center; }
  .btn::after {
    display: none; }
  .btn__arrow {
    margin-left: 13px;
    width: 30px;
    height: 10px;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease; }
  .btn--transp {
    color: #1C1C1C;
    border-color: #1C1C1C; }
    .btn--transp .btn__arrow {
      fill: #1C1C1C; }
    .btn--transp:hover {
      color: #CE5E4C;
      border-color: #CE5E4C; }
      .btn--transp:hover .btn__arrow {
        fill: #CE5E4C; }
  .btn--active {
    border-color: #CE5E4C;
    background-color: #CE5E4C;
    color: #fff; }
    .btn--active:hover {
      border-color: #E07362;
      background-color: #E07362; }
  .btn--cart {
    min-width: 267px; }
  .btn--disabled {
    border-color: #A4A4A4 !important;
    color: #A4A4A4 !important;
    cursor: no-drop; }
    .btn--disabled .btn__arrow {
      fill: #A4A4A4 !important; }

.check {
  position: relative; }
  .check__input {
    position: absolute;
    z-index: -1;
    visibility: hidden; }
    .check__input:checked + .check__label::after {
      display: block; }
  .check__label {
    display: block;
    margin: 8px 0;
    padding-left: 28px;
    position: relative;
    cursor: pointer;
    font-size: 12px;
    color: #1C1C1C;
    line-height: 16px;
    letter-spacing: 0.24px; }
    .check__label::before {
      content: '';
      position: absolute;
      top: -2px;
      left: 0;
      width: 18px;
      height: 18px;
      border: 1px solid #939393; }
    .check__label::after {
      content: '';
      display: none;
      position: absolute;
      top: 2px;
      left: 4px;
      width: 10px;
      height: 10px;
      background-color: #CE5E4C; }

.socials {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .socials__link {
    display: block;
    margin-right: 36px;
    width: 20px;
    height: 20px; }
    .socials__link:hover .socials__link-icon {
      fill: #CE5E4C; }
  .socials__link-icon {
    width: 20px;
    height: 20px;
    fill: #1C1C1C;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease; }

.menu-main-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.menu-main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.02em; }
  .menu-main__item {
    margin-right: 36px; }
    .menu-main__item:last-child {
      margin-right: 0; }
    .menu-main__item:hover .dropdown::before {
      -webkit-transform: translateY(-50%) rotate(180deg);
          -ms-transform: translateY(-50%) rotate(180deg);
              transform: translateY(-50%) rotate(180deg); }
    .menu-main__item:hover .submenu {
      display: block; }
  .menu-main__link {
    letter-spacing: 0.04em; }
    .menu-main__link.dropdown {
      position: relative;
      padding-right: 15px; }
      .menu-main__link.dropdown::before {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        width: 10px;
        height: 10px;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%);
        background: url("../img/sprite.svg#angle-down") no-repeat center center;
        background-size: contain;
        -webkit-transition: 0.3s ease;
        -o-transition: 0.3s ease;
        transition: 0.3s ease; }

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  padding: 44px 0;
  background: #fff;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.01em;
  color: #2D2D2D;
  -webkit-box-shadow: 0px 4px 26px rgba(150, 150, 150, 0.06);
          box-shadow: 0px 4px 26px rgba(150, 150, 150, 0.06);
  z-index: 100; }
  .submenu::before {
    content: '';
    width: 100%;
    height: 30px;
    background: #fff;
    position: absolute;
    bottom: 100%; }
  .submenu__wrapper {
    max-width: 1434px;
    padding: 0 20px;
    margin: 0 auto; }
  .submenu__item {
    width: 23%; }
    .submenu__item--brand {
      width: 20%; }

.submenu-list li {
  margin-bottom: 25px; }

.submenu-list__title {
  font-size: 20px;
  text-transform: uppercase; }

.submenu-list--collection {
  font-size: 16px; }
  .submenu-list--collection li {
    margin-bottom: 15px; }
    .submenu-list--collection li.submenu-list__title {
      margin-bottom: 24px; }

.brand-link {
  display: block;
  width: 225px;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  color: #1C1C1C;
  text-decoration: none; }
  .brand-link:hover .brand-link__title::after {
    width: 100%; }
  .brand-link__title {
    position: relative;
    display: inline-block;
    margin-top: 6px;
    padding-bottom: 4px; }
    .brand-link__title::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 1px;
      background-color: #CE5E4C;
      -webkit-transition: 0.3s ease;
      -o-transition: 0.3s ease;
      transition: 0.3s ease; }

.i-slide {
  position: relative; }
  .i-slide__content {
    padding-top: 200px;
    height: 100%;
    font-weight: 300;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.01em; }
  .i-slide__date {
    position: relative;
    padding-bottom: 26px;
    margin-bottom: 14px;
    font-size: 24px; }
    .i-slide__date::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 276px;
      height: 1px;
      background-color: #939393; }
  .i-slide__title {
    max-width: 700px;
    margin-bottom: 30px;
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 700;
    font-size: 68px;
    line-height: 120%;
    text-transform: uppercase;
    text-align: left; }
  .i-slide__btn {
    margin-top: 67px; }
  .i-slide__img-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }

.intro-slider-nav {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  z-index: 100; }
  .intro-slider-nav__inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    margin-left: 50%;
    padding: 0 120px;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }

.i-slide-nav {
  width: 70px;
  height: 20px;
  border: none;
  cursor: pointer; }
  .i-slide-nav:hover .i-slide-nav__icon {
    opacity: 1; }
  .i-slide-nav__icon {
    max-width: 100%;
    max-height: 100%;
    fill: #fff;
    opacity: 0.5; }
  .i-slide-nav--prev {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg); }

.i-slide-dots {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .i-slide-dots .swiper-pagination-bullet {
    margin-right: 17px;
    width: 12px;
    height: 12px;
    background: #fff;
    opacity: 0.36; }
    .i-slide-dots .swiper-pagination-bullet:last-child {
      margin: 0; }
  .i-slide-dots .swiper-pagination-bullet-active {
    opacity: 1; }

.card-item {
  position: relative;
  display: block;
  padding-bottom: 20px;
  max-width: 390px;
  color: #1C1C1C;
  border-bottom: 1px solid #939393;
  text-decoration: none;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease; }
  .card-item:hover::after {
    width: 100%; }
  .card-item:hover .card-item__img-wrap {
    -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
            transform: translateY(-10px); }
  .card-item:hover .card-item__title {
    color: #CE5E4C; }
  .card-item::after {
    content: '';
    width: 0%;
    height: 2px;
    background-color: #CE5E4C;
    position: absolute;
    bottom: -1px;
    left: 0;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease; }
  .card-item__img-wrap {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 123%;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease; }
  .card-item__img {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    max-height: 100%; }
  .card-item__body {
    margin-top: 18px; }
  .card-item__type {
    font-size: 14px;
    font-weight: 450;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 0.06em; }
  .card-item__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 5px;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .card-item__title {
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 0.01em;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease; }
  .card-item__price {
    font-family: 'Cormorant';
    font-size: 24px;
    color: #000000; }

.price-old {
  position: relative;
  margin-right: 13px;
  color: #CE5E4C; }
  .price-old::before {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #CE5E4C;
    position: absolute;
    top: 58%;
    left: 0;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }

.card-wish {
  position: absolute;
  top: 25px;
  right: 25px;
  padding: 10px;
  width: 42px;
  height: 40px;
  z-index: 10; }
  .card-wish__icon {
    max-width: 100%;
    max-height: 100%;
    fill: #353535; }
  .card-wish.active .card-wish__icon {
    fill: #CE5E4C; }

/*# sourceMappingURL=style.css.map */
