include ../../components/_socials


-
    var fMenu1 = [
        'Для мужчин',
        'Для женщин',
        'О магазине',
        'Новости'
    ]

    var fMenu2 = [
        'Покупателям',
        'Сервис',
        'Доставка',
        'Контакты'
    ]

footer.footer 
    .container 
        .row.row--m 
            .cols.cols-3.cols-md-6.cols-sm-12
                .footer__column.row.row--column.row--space-b 
                    .logo-wrap.logo-wrap--left
                        a.logo.logo--footer(href="/")
                            img.logo__img(src="img/logo-white.svg")
                    div
                        +socials(true)
                        p.copyright Разработано Row Studio. Copyright 2021

            .cols.cols-3.cols-md-6.cols-sm-12
                .row.row--wrap
                    ul.footer-menu
                        each item in fMenu1
                            li 
                                a.link(href="#") !{item}
                    ul.footer-menu
                        each item in fMenu2
                            li 
                                a.link(href="#") !{item}
            .cols.cols-3.cols-md-6.cols-sm-12
                include subscribe
            .cols.cols-3.cols-md-6.cols-sm-12
                .f-contacts 
                    p.f-contacts__phone
                        a.link(href="tel:+73952739191") +7 (3952) 73‒91‒91
                    p.f-contacts__time Работаем с пн-сб с 10.30 до 20.00, вс с 10:30 до 19:00
                    p.f-contacts__address ​Советская ул., 27, 1 этаж