.i-slide
    position: relative
    &__content 
        padding-top: 200px
        padding-bottom: 50px
        height: 100%
        font-weight: 300
        font-size: 20px
        line-height: 32px
        letter-spacing: 0.01em
    &__date 
        position: relative
        padding-bottom: 26px
        margin-bottom: 14px
        font-size: 24px
        &::after 
            content: ''
            position: absolute
            bottom: 0
            left: 0
            width: 276px
            height: 1px
            background-color: #939393
    &__title
        max-width: 700px
        margin-bottom: 30px
        font-family: 'Cormorant'
        font-style: normal
        font-weight: 700
        font-size: 68px
        line-height: 120%
        text-transform: uppercase
        text-align: left
    &__btn 
        margin-top: 46px
        &--mob
            display: none
    &__img-wrap 
        +center
        height: 100%
    &__img 
        width: 100%
        height: 100%
        object-fit: cover

.intro-slider-nav 
    position: absolute
    bottom: 40px
    left: 0
    right: 0
    z-index: 100
    &__inner 
        display: flex 
        width: 50%
        margin-left: 50%
        padding: 0 120px
        align-items: center
        justify-content: space-between

.i-slide-nav 
    width: 70px
    height: 20px
    border: none
    cursor: pointer
    &:hover 
        .i-slide-nav__icon 
            opacity: 1
    &__icon 
        max-width: 100%
        max-height: 100%
        fill: #fff
        opacity: 0.5
    &--prev 
        transform: rotate(180deg)

.i-slide-dots 
    +center
    .swiper-pagination-bullet
        margin-right: 17px
        width: 12px
        height: 12px
        background: #fff 
        opacity: 0.36
        &:last-child 
            margin: 0
    .swiper-pagination-bullet-active
        opacity: 1

@media (max-width: 1400px)
    .i-slide
        &__content
            padding-top: 100px
            font-size: 16px
        &__title 
            font-size: 54px

    .intro-slider-nav__inner
        padding: 0 50px
// max-width: 1400px

@media (max-width: 991px)
    .i-slide 
        &__content 
            padding: 30px 0
        &__date 
            padding-bottom: 10px
            font-size: 20px
        &__title 
            margin-bottom: 20px
            font-size: 40px 
        &__btn 
            margin-top: 30px    
// max-width: 991px

@media (max-width: 768px)
    .i-slide 
        &__title 
            font-size: 30px
        &__content
            font-size: 14px 
            line-height: 22px
        &__date
            font-size: 14px
            &::after 
                width: 147px
    
    .i-slide-nav
        display: none

    .intro-slider-nav
        bottom: 20px
        &__inner
            justify-content: center
// max-width: 768px

@media (max-width: 576px)
    // .i-slide-col-img
    //     padding: 0
    .intro
        padding-bottom: 10px
    .intro-slider-nav
        bottom: 90px
        &__inner
            width: 100%
            margin: 0
            padding: 0
    .i-slide
        &__content
            padding-bottom: 0
            margin-bottom: 25px
        &__img-wrap
            height: auto
            text-align: center
        &__btn 
            &--pc 
                display: none
            &--mob 
                display: inline-block
                margin-top: 25px
// max-width: 576px