.socials 
    display: flex 
    flex-wrap: wrap 
    &__link
        display: block
        margin-right: 36px 
        width: 20px
        height: 20px
        &:hover 
            .socials__link-icon 
                fill: $activeColor
    &__link-icon 
        width: 20px
        height: 20px
        fill: $black 
        transition: 0.3s ease

