include ../../components/_socials

.news-sidebar 
    .news-links.hide-md
        a.news-links__item(href="#")
            img.news-links__item-img(src="img/news/news-link.jpg")
            span Ещё больше вещей в нашем каталоге

    .news-share
        span.news-share__text ПОДЕЛИТЬСЯ:
        +socials('socials--min')