.m-available
    &__title
        margin-bottom: 0
    &__row 
        margin-bottom: 45px

    .card-item 
        margin-bottom: 13px

.m-catalog
    &__row 
        margin-top: 112px

.m-about 
    padding: 86px 0
    margin-top: 170px
    &__text 
        margin-bottom: 50px
        max-width: 650px
