table.basket-table.basket-table--min.basket-table--order
    thead.basket-table__head
        tr.basket-table__line-head
            th.b-col-head.b.b-col-head--product(colspan="2") Товар
            th.b-col-head.b.b-col-head--count Количество
            th.b-col-head.b.b-col-head--price-l Цена
    tbody.basket-table__body 
        tr.basket-table__line.basket-table__line--min
            td.b-col.b-col--image
                .b-image-wrap
                    img(src="img/basket/product_1.jpg")
            td.b-col.b-col--name 
                p.b-product-type Майка
                p.b-product-name Aeronautica Militare
           
            td.b-col.b-col--count 1
            td.b-col.b-col--price 
                span.price 2700 ₽
          
        // END basket-table__line
        
        tr.basket-table__line.basket-table__line--min
            td.b-col.b-col--image
                .b-image-wrap
                    img(src="img/basket/product_1.jpg")
            td.b-col.b-col--name 
                p.b-product-type Майка
                p.b-product-name Aeronautica Militare
           
            td.b-col.b-col--count 1
            td.b-col.b-col--price 
                span.price 2700 ₽
          
        // END basket-table__line
// END basket-table