.header-bottom 
    .row.row--align-c
        .cols-2
            p.header-bottom__text Итальянская одежда
        .cols-8
            include menu-main
        .cols-2
            .text-right 
                a.link(href="tel:+74951008000") Тел: +7 495 100-80-00
// END header-bottom