nav.menu-main-wrap
    ul.menu-main
        li.menu-main__item
            a.menu-main__link.link.dropdown(href="#") Каталог
            include menu-main-submenu             
        li.menu-main__item
            a.menu-main__link.link(href="#") Новости
        li.menu-main__item
            a.menu-main__link.link(href="#") О магазине
        li.menu-main__item
            a.menu-main__link.link.dropdown(href="#") Покупателям
        li.menu-main__item
            a.menu-main__link.link(href="#") Контакты
    // END menu-main