.menu-mobile
    form.search-form.search-form--mobile
        input.search-form__input(type="text", name="q", placeholder="Поиск")
        buttun.search-form__btn(type="submit", name="s") 
            span Найти
   
    ul.menu-m-list 
        li 
            a.link(href="#") Каталог
        li 
            a.link(href="#") Новости
        li 
            a.link(href="#") О магазине
        li 
            a.link(href="#") Покупателям
        li 
            a.link(href="#") Контакты
    hr

    ul.menu-m-list.menu-m-list--columns-2
        li 
            a.link(href="#") Обувь
        li 
            a.link(href="#") Брюки
        li 
            a.link(href="#") Куртки
        li  
            a.link(href="#") Блузки
        li 
            a.link(href="#") Футболки
        li 
            a.link(href="#") Сумки
        li 
            a.link(href="#") Джинсы
        li 
            a.link(href="#") Аксессуары
    ul.menu-m-list.menu-m-list--collection
        li.menu-m-list__title
            a.link(href="#") Коллекции
        li 
            a.link(href="#") Зима 2021
        li 
            a.link(href="#") Мужские
        li 
            a.link(href="#") Женские
        li 
            a.link(href="#") Весна / Лето 2021
        li 
            a.link(href="#") Коллекция 2020
    hr
    a.link-icon(href="#")
        svg.link-icon__svg
            use(xlink:href="img/sprite.svg#user")
        span Войти
    hr
    a.link(href="tel:+74951008000") Тел: +7 495 100-80-00