.submenu 
    .container
        .submenu__wrapper.row
            .submenu__item 
                ul.submenu-list 
                    li
                        a.link(href="#") Весь каталог
            .submenu__item 
                ul.submenu-list.submenu-list--collection  
                    li.submenu-list__title
                        a.link(href="#") Коллекции
                    li
                        a.link(href="#") Зима 2021
                    li
                        a.link(href="#") Мужские
                    li
                        a.link(href="#") Женские
                    li
                        a.link(href="#") Весна / Лето 2021
                    li
                        a.link(href="#") Коллекция 2020
            .submenu__item 
                ul.submenu-list 
                    li 
                        a.link(href="#") Обувь
                    li 
                        a.link(href="#") Куртки
                    li 
                        a.link(href="#") Футболки
                    li 
                        a.link(href="#") Джинсы
            .submenu__item 
                ul.submenu-list 
                    li 
                        a.link(href="#") Брюки
                    li 
                        a.link(href="#") Блузки
                    li 
                        a.link(href="#") Сумки
                    li 
                        a.link(href="#") Аксессуары
            .submenu__item.submenu__item--brand 
                a.brand-link(href="#")
                    img.brand-link__img(src="img/brand_link.jpg")
                    span.brand-link__title Aeronautica Militare
        // END submenu__wrapper
// END submenu