.submenu 
    .container
        .submenu__wrapper.row
            .submenu__item 
                ul.submenu-list 
                    li
                        a.link(href="#") Оплата
                    li
                        a.link(href="#") Условия возврата
                    li
                        a.link(href="#") Акции
                    li
                        a.link(href="#") Вопрос-ответ
            
        // END submenu__wrapper
// END submenu