extends ./tpl/_layout.pug

block variables
    -
        var title = 'Акции'
        var description = 'Акции'
        var index = false


include ./components/_breadcrumbs.pug
include ./components/_selector


block content 
    -
        var sort = {
            name: 'sort',
            title: '',
            arProperties: [
                {
                    title: '',
                    value: 'price',
                    check: 'По цене'
                }, {
                    title: '',
                    value: 'names',
                    check: 'По названию'
                }, {
                    title: '',
                    value: 'popular',
                    check: 'По популярности'
                }
            ],
            сhecked: 'Сортировка'
        }

    +breadcrumbs(['Главная', 'Покупателям', 'Акции'], false)

    .container
        .row.row--space-b.row--align-c
            h1 Акции
            +selector(sort.title, sort.name, sort.arProperties, sort.сhecked, 'selector-wrap--absolute')
        
        include ./pages/adverts/adverts-list
            