extends ./tpl/_layout.pug

block variables
    -
        var title = 'Корзина'
        var description = 'Корзина'
        var index = false


include ./components/_breadcrumbs.pug

block content 
    +breadcrumbs(['Главная', 'Корзина'], true)
    .container 
        h1 Корзина
        .basket-content
            .text-center 
                p Корзина пуста
                a.btn.btn--active(href="#") Перейти в каталог

    