extends ./tpl/_layout.pug

block variables
    -
        var title = 'Вопрос-ответ'
        var description = 'Вопрос-ответ'
        var index = false


include ./components/_breadcrumbs.pug
include ./components/_accordion


block content 
    +breadcrumbs(['Главная', 'Вопрос-ответ'], true)
    -
        var accordionList = [
            {
                id: 'faq_1',
                title: 'Возможна ли доставка в другой город?',
                content: '<p>Проще всего совершить онлайн-заказ того товара, который вы хотели бы получить взамен имеющегося у вас. Сообщите менеджеру при подтверждении заказа, что вы совершаете обмен. Технически, мы осуществим процедуру возврата не подошедшего товара и оформим продажу нового.</p><p>Мы можем обменять товар только при условии полного совпадения стоимости товара. Для этого сформируйте новый заказ на нашем сайте и в комментарии укажите "Для обмена по заказу №...". Далее заполните ЗАЯВЛЕНИЕ НА ВОЗВРАТ ТОВАРА. Отправьте не подошедший товар с заявлением Почтой России или любой транспортной компанией на адрес: 664022, г. Иркутск, ул. Красных Мадьяр, 41 (без наложенного платежа). Мы отправим зарезервированный вами заказ как только вернется отправленный вами товар.</p>'
            }, {
                id: 'faq_2',
                title: 'Как обменять товар?',
                content: '<p>Проще всего совершить онлайн-заказ того товара, который вы хотели бы получить взамен имеющегося у вас. Сообщите менеджеру при подтверждении заказа, что вы совершаете обмен. Технически, мы осуществим процедуру возврата не подошедшего товара и оформим продажу нового.</p><p>Мы можем обменять товар только при условии полного совпадения стоимости товара. Для этого сформируйте новый заказ на нашем сайте и в комментарии укажите "Для обмена по заказу №...". Далее заполните ЗАЯВЛЕНИЕ НА ВОЗВРАТ ТОВАРА. Отправьте не подошедший товар с заявлением Почтой России или любой транспортной компанией на адрес: 664022, г. Иркутск, ул. Красных Мадьяр, 41 (без наложенного платежа). Мы отправим зарезервированный вами заказ как только вернется отправленный вами товар.</p>'
            }, {
                id: 'faq_3',
                title: 'Как найти ваш шоу-рум?',
                content: '<p>Проще всего совершить онлайн-заказ того товара, который вы хотели бы получить взамен имеющегося у вас. Сообщите менеджеру при подтверждении заказа, что вы совершаете обмен. Технически, мы осуществим процедуру возврата не подошедшего товара и оформим продажу нового.</p><p>Мы можем обменять товар только при условии полного совпадения стоимости товара. Для этого сформируйте новый заказ на нашем сайте и в комментарии укажите "Для обмена по заказу №...". Далее заполните ЗАЯВЛЕНИЕ НА ВОЗВРАТ ТОВАРА. Отправьте не подошедший товар с заявлением Почтой России или любой транспортной компанией на адрес: 664022, г. Иркутск, ул. Красных Мадьяр, 41 (без наложенного платежа). Мы отправим зарезервированный вами заказ как только вернется отправленный вами товар.</p>'
            }, {
                id: 'faq_4',
                title: 'Какой срок гарантии на товары?',
                content: '<p>Проще всего совершить онлайн-заказ того товара, который вы хотели бы получить взамен имеющегося у вас. Сообщите менеджеру при подтверждении заказа, что вы совершаете обмен. Технически, мы осуществим процедуру возврата не подошедшего товара и оформим продажу нового.</p><p>Мы можем обменять товар только при условии полного совпадения стоимости товара. Для этого сформируйте новый заказ на нашем сайте и в комментарии укажите "Для обмена по заказу №...". Далее заполните ЗАЯВЛЕНИЕ НА ВОЗВРАТ ТОВАРА. Отправьте не подошедший товар с заявлением Почтой России или любой транспортной компанией на адрес: 664022, г. Иркутск, ул. Красных Мадьяр, 41 (без наложенного платежа). Мы отправим зарезервированный вами заказ как только вернется отправленный вами товар.</p>'
            }, {
                id: 'faq_5',
                title: 'Какие бренды у вас представлены?',
                content: '<p>Проще всего совершить онлайн-заказ того товара, который вы хотели бы получить взамен имеющегося у вас. Сообщите менеджеру при подтверждении заказа, что вы совершаете обмен. Технически, мы осуществим процедуру возврата не подошедшего товара и оформим продажу нового.</p><p>Мы можем обменять товар только при условии полного совпадения стоимости товара. Для этого сформируйте новый заказ на нашем сайте и в комментарии укажите "Для обмена по заказу №...". Далее заполните ЗАЯВЛЕНИЕ НА ВОЗВРАТ ТОВАРА. Отправьте не подошедший товар с заявлением Почтой России или любой транспортной компанией на адрес: 664022, г. Иркутск, ул. Красных Мадьяр, 41 (без наложенного платежа). Мы отправим зарезервированный вами заказ как только вернется отправленный вами товар.</p>'
            }
        ]
    .container
        h1 Вопрос / ОТвет
        .faq-content
            +accordion(accordionList, 'accordion--big')