extends ./tpl/_layout.pug

block variables
    -
        var title = 'Главная страница'
        var description = 'Главная страница'
        var index = true

block content 
    include ./sections/intro/intro
    include ./sections/m-available
    include ./sections/m-catalog