table.basket-table 
    thead.basket-table__head
        tr 
            th.b-col-head.b-col-head--count-p(colspan="2") Товаров: 3
            th.b-col-head.b-col-head--size Размер
            th.b-col-head.b-col-head--color Цвет
            th.b-col-head.b-col-head--count Количество
            th.b-col-head.b-col-head--price Цена
            th.b-col-head.b-col-head--clear 
                a.delete-link(href="#") 
                    span Очистить
                    svg.delete-link__icon 
                        use(xlink:href="img/sprite.svg#close")
    tbody.basket-table__body 
        tr.basket-table__line
            td.b-col.b-col--image test
            td.b-col.b-col--name test
            td.b-col.b-col--size test
            td.b-col.b-col--color test
            td.b-col.b-col--count test
            td.b-col.b-col--price test
            td.b-col.b-col--clear test