$black: #1C1C1C
$blackDark: #2D2D2D

$gray: #DEDEDE
$lightGray: #F7F7F7

$activeColor:  #CE5E4C
$activeColorLight: #E07362

$disableColor: #A4A4A4


$fontMain: 'Suisse Intl', sans-serif
$fontSecond: 'Cormorant', serif

