
.history-item
    .history-item__head 
        span.history-item__title Номер заказа: 0718190
        span.history-item__date 01.03.2021
    .history-item__content
        table.basket-table.basket-table--min.basket-table--history
            tbody.basket-table__body 
                tr.basket-table__line.basket-table__line--min
                    td.b-col.b-col--image
                        .b-image-wrap
                            img(src="img/basket/product_1.jpg")
                    td.b-col.b-col--name 
                        p.b-product-type Майка
                        p.b-product-name Aeronautica Militare
                
                    td.b-col.b-col--count 1
                    td.b-col.b-col--price 
                        span.price 2700 ₽
                
                // END basket-table__line
                
                tr.basket-table__line.basket-table__line--min
                    td.b-col.b-col--image
                        .b-image-wrap
                            img(src="img/basket/product_1.jpg")
                    td.b-col.b-col--name 
                        p.b-product-type Майка
                        p.b-product-name Aeronautica Militare
                
                    td.b-col.b-col--count 1
                    td.b-col.b-col--price 
                        span.price 2700 ₽
                
                // END basket-table__line
        // END basket-table
        .order-result__sub 
            .order-result__item
                span.order-result__title Товары:
                span.order-result__price 7700 ₽
            .order-result__item
                span.order-result__title Доставка:
                span.order-result__price 300 ₽
        .order-result__item.order-result__item--main 
            span.order-result__title Итого:
            span.order-result__price 8000 ₽