.card-page 
    .container
        .row.row--m 
            .cols.cols-6.cols-md-12
                include ./card-photo
            .cols.cols-6.cols-md-12
                include ./card-desc
// END card-page