.card-head
    p.card-type Майка
    h1.card-title Майка AERONAUTICA
    p.card-available.card-available--yes В наличии

.price
    span 2700 ₽
    span.price-old 3000 ₽

.properties 
    .property
        span.property__title РАЗМЕР:
        ul.property-list 
            li.property-item.property-item--size XS
            li.property-item.property-item--size S
            li.property-item.property-item--size.selected M
            li.property-item.property-item--size L
            li.property-item.property-item--size XL
        a(href="#") Таблица размеров
    .property
        span.property__title ЦВЕТ:
        ul.property-list 
            li.property-item.property-item--color.selected
                i.color-circle(style="background-color: #C1A66F")
            li.property-item.property-item--color
                i.color-circle.color-circle--white(style="background-color: #fff")
            li.property-item.property-item--color
                i.color-circle(style="background-color: #252525")
            li.property-item.property-item--color
                i.color-circle(style="background-color: #CE5E4C")
.card-desc 
    p.card-desc__title Описание:
    p Базовая майка на широких бретелях из мягкой микрофибры в рубчик. Майка выполнена по современной бесшовной технологии без боковых швов, только плечевые швы на бретелях. Круглый вырез горловины средней глубины. Вырез горловины, пройма и низ изделия обработаны вподгибку плоским швом.