.card-page 
    .container
        .card-page__row.row.row--m 
            .cols.cols-6.cols-md-12
                include ./card-photo
            .cols.cols-6.cols-md-12
                .card-main
                    include ./card-desc
// END card-page