//- list - массив списка названий хлебных крошек

mixin breadcrumbs(list) 
    .breadcrumbs 
        .container 
            ul.breadcrumbs-list 
                each item, index in list 
                    li 
                        if (list.length - 1 === index)
                            span !{item}
                        else 
                            a.link(href="#") !{item}
            a.l-arrow.mobile-back(href="#")
                svg.l-arrow__icon.l-arrow__icon--left
                    use(xlink:href="img/sprite.svg#arrow-left")
                span Назад

