mixin socials(white = false)
    - var addClass = white ? 'socials--white' : ''
    .socials(class=addClass)
        a.socials__link(href="#")
            svg.socials__link-icon 
                use(xlink:href="img/sprite.svg#inst")
        a.socials__link(href="#")
            svg.socials__link-icon 
                use(xlink:href="img/sprite.svg#fb")
        a.socials__link(href="#")
            svg.socials__link-icon 
                use(xlink:href="img/sprite.svg#telegram")