html
    box-sizing: border-box
    min-height: 100%

*, *:before, *:after
    margin: 0
    padding: 0
    box-sizing: inherit

body
    min-height: 100vh
    font-family: $fontMain
    // font-size: 14px
    // font-weight: 400
    // line-height: 24px
    // letter-spacing: 0.36px
    font-weight: 300
    font-size: 20px
    line-height: 150%
    /* or 30px */

    letter-spacing: 0.01em

    color: $black
    background-color: #fff
    position: relative

a[href^="tel:"]
    white-space: nowrap

input, button, textarea
    font-family: $fontMain
    // border: none 
    outline: none
    -webkit-appearance: none

button
    background: none

textarea
    resize: none

input[type="submit"]
    cursor: pointer

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
    -webkit-appearance: none
    margin: 0

hr
    margin: 20px 0
    border: none
    border-bottom: 1px solid $gray

ul
    margin: 0
    padding: 0
    list-style: none

img
    max-width: 100%
    max-height: 100%

h1
    margin-bottom: 22px
    font-family: 'Cormorant'
    font-style: normal
    font-weight: 700
    font-size: 68px
    line-height: 120%
    text-transform: uppercase
    text-align: left

h2
    position: relative
    padding-bottom: 32px
    margin-bottom: 28px
    font-family: 'Cormorant'
    font-weight: 700
    font-size: 68px
    line-height: 70px
    text-transform: uppercase
    &::after
        content: ''
        width: 153px
        height: 1px
        background: #939393
        position: absolute
        bottom: 0
        left: 0
    &.text-center
        &::after
            left: 50%
            transform: translateX(-50%)
    &.no-after
        padding-bottom: 0

h3
    margin-bottom: 50px
    font-family: 'Cormorant'
    font-style: normal
    font-weight: 700
    font-size: 48px
    line-height: 120%
    text-transform: uppercase

blockquote
    margin-bottom: 60px
    max-width: 1150px
    font-family: $fontSecond
    font-weight: 400
    font-size: 36px
    line-height: 46px

.subtitle
    margin-bottom: 50px
    font-family: 'Cormorant'
    font-style: normal
    font-weight: 600
    font-size: 48px
    line-height: 54px

.subtitle-m
    margin-bottom: 25px
    font-size: 20px
    font-weight: 400
    text-align: center
    letter-spacing: 0.2px

p
    margin-bottom: 20px

.text
    &-left
        text-align: left
    &-center
        text-align: center
    &-right
        text-align: right

.l-arrow
    text-transform: uppercase
    text-decoration: none
    color: $black
    font-size: 14px
    letter-spacing: 0.36px
    +transitionDefault
    &:hover
        color: $activeColor
        .l-arrow__icon
            fill: $activeColor
    &::after
        display: none
    &__icon
        margin-left: 13px
        width: 30px
        height: 10px
        transition: 0.3s ease
        fill: $black
        &--left 
            margin: 0 9px 0 0
        &--big 
            width: 70px
            height: 12px

.logo-wrap
    +center
    &--left
        justify-content: flex-start

.logo
    +center
    &--header
        margin-top: -5px
    &--footer
        margin-bottom: 50px

.s-block
    padding: 135px 0 30px

.s-block-gray
    background-color: $lightGray

.masonry
    & > *:nth-child(even)
        margin-top: -240px
        // transform: translateY(-240px)

.more-block
    margin-top: 132px
    font-weight: 300
    font-size: 20px
    letter-spacing: 0.01em
    text-align: center
    &__btn
        margin-top: 4px

.img-block
    display: block

.notice
    margin: 5px 0
    font-size: 12px
    line-height: 28px
    text-align: center
    letter-spacing: 0.03em
    color: #5B5B5B

.link
    position: relative
    color: inherit
    text-decoration: none
    padding-bottom: 4px
    +transitionDefault
    &::after
        content: ''
        width: 0%
        height: 1px
        background-color: $activeColor
        position: absolute
        bottom: 0
        left: 0
        transition: 0.3s ease
    &:hover::after
        width: 100%

.link-icon
    position: relative
    display: inline-block
    padding-left: 30px
    color: inherit
    text-decoration: none
    &:hover
        .link-icon__svg
            fill: $activeColor
        span::after
            width: 100%
    &__svg
        position: absolute
        top: 50%
        left: 0
        transform: translateY(-50%)
        width: 16px
        height: 16px
        fill: $blackDark
        +transitionDefault
    span
        position: relative
        &::after
            content: ''
            width: 0
            height: 1px
            background-color: $activeColor
            position: absolute
            left: 0
            bottom: -3px
            +transitionDefault

.color-circle
    display: block
    width: 16px
    height: 16px
    border-radius: 50%
    border: none
    &--white
        border: 1px solid #CDCDCD

.to-top
    display: none
    flex-direction: column
    align-items: center
    width: 60px
    font-size: 14px
    line-height: 24px
    text-align: center
    cursor: pointer
    +transitionDefault
    &.active 
        display: flex
    &__icon
        height: 30px
        width: 8px
        margin-bottom: 6px
        +transitionDefault
    &:hover
        color: $activeColor
        .to-top__icon
            fill: $activeColor
    &--catalog
        position: fixed
        // left: 60px
        left: 120px
        bottom: 50px
    &--center
        display: none
        margin: 15px auto 0
        position: fixed
        bottom: 50px
        left: 50%
        transform: translateY(-50%)

.main-content
    margin-bottom: 100px

.main-page
    .main-content
        margin-bottom: 0

.no-after 
    &::after 
        display: none

@media (max-width: 1400px)
    body
        font-size: 16px
    h1
        font-size: 50px
// max-width: 1400px

@media (max-width: 991px)
    h2
        padding-bottom: 15px
        font-size: 40px
        line-height: 120%
    h3
        font-size: 34px

    .subtitle
        margin-bottom: 20px
        font-size: 26px
        line-height: 120%
    .s-block
        padding: 80px 0 20px
    .masonry
        & > *:nth-child(even)
            margin-top: -140px
    .more-block
        margin-top: 45px
        font-size: 16px
// max-width: 991px

@media (max-width: 768px)
    h1
        font-size: 40px
    h2
        text-align: center
        &::after
            left: 50%
            transform: translateX(-50%)
        &.no-after
            padding-bottom: 0
            text-align: left

    h3
        margin-bottom: 45px
        font-size: 30px
        text-align: center
    body
        font-size: 14px
        line-height: 22px

    blockquote
        margin-bottom: 40px
        font-size: 24px 
        line-height: 32px
        font-weight: 300

    .masonry
        & > *:nth-child(even)
            margin-top: 0

    .logo
        &--footer
            margin-bottom: 0
// max-width: 768px

@media (max-width: 576px)
    p
        margin-bottom: 0
    h1
        font-size: 30px
    h2
        padding-bottom: 12px
        font-size: 30px
        &::after
            width: 90px
    h3
        font-size: 30px
    .logo
        &--header
            margin-top: 0
        &--footer
            width: 100px

    .s-block
        padding: 40px 0 30px

    .more-block
        margin-top: 20px
        font-size: 14px
        &__btn
            margin-top: 16px

    .main-content
        margin-bottom: 70px
// max-width: 576px
