include ../../components/buttons/_btn-arrow

.i-slide.row.row--m 
    .cols.cols-6
        .i-slide__content 
            p.i-slide__date Весна / Лето 2021
            h1.i-slide__title Aeronautica Новая коллекция
            p Итальянская одежда от известных брендов в магазине Tesoro. #[br] Посмотрите новую коллекцию в нашем каталоге
            +btn-arrow('СМОТРЕТЬ КОЛЛЕКЦИЮ', '#', 'i-slide__btn')
    .cols.cols-6
        .i-slide__img-wrap 
            img.i-slide__img(src="img/slide_img.jpg")